
html{
	font-family:arial;
	height:100%;
}

body{
	background-color: rgb(0,162,233) ;
	margin:0px auto;
	height:100%;	
}

#back{
	float:right;
	margin-right:5%;
	
}

#basketball{
	
	width:30%;
	height:30%;
	
}

#top{
	
	font-size:22px;
	margin-top:0px;
	
}


#top2{
	
	font-size:24px;
	margin-top:0px;
	background-color: rgb(75,47,37) ;
	
}

#letter{
	
	color:rgb(136,0,21);
	
}

#main{
	
	height:100%;
	text-align:center;
	background-color: rgb(153,217,234) ;
	margin-left:20%;
	margin-right:20%;	
}

a{
	color:black;
	text-decoration:none;
	
}

#menue{
	background-color:rgb(0,162,232);
	border:2px solid rgb(63,72,204);
	font-size:18px;
	width:200px;
	height:150px;
	margin-left:auto;
	margin-right:auto;
}

#menuepunkte {
	
	overflow:hidden;
    line-height:50px;
}

#menuepunkte:hover { 
    background-color:rgb(63,72,204);
	cursor:pointer;
}

#favoriten{
	border-top:2px solid rgb(63,72,204);
	border-bottom:2px solid rgb(63,72,204);
}

#formular{
	
	text-align:left;
	height:60%;
	padding-left:5%;
	
}

#formlinks{
	float:left;
	width:50%;
	height:100%;
	
	
	
	
}

#formrechts{
	float:right;
	width:50%;
	height:100%;
	
	
}



label{
	
	color:black;
	font-size:16px;
	float:left;
	width:40%;
	display:block;
	
	
	
}